Flask==2.3.3
Flask-Migrate==4.0.5
Flask-SQLAlchemy==3.0.3
Flask-Login==0.6.2
Flask-WTF==1.1.1
Werkzeug==2.3.7
gunicorn==21.2.0
hypercorn==0.14.3
quart==0.18.3
email-validator==2.0.0.post2
python-dotenv==1.0.0
Pillow==10.0.0
pandas==2.0.3
python-multipart==0.0.6
